header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
}

.toggle-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: transform 0.35s ease-in-out;
    float: right;
    margin: 60px 70px 20px 20px;
}

.toggle-icon.rotate {
    transform: rotate(360deg);
}

.toggle-icon:hover {
    scale: 1.1;
}

.logo {
    width: 120px;
    height: 120px;
    margin: 20px 0px 0px 70px;
}