header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.toggle-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: transform 0.35s ease-in-out;
    float: right;
    margin: 3rem;
}

.toggle-icon.rotate {
    transform: rotate(360deg);
}

.toggle-icon:hover {
    scale: 1.1;
}