:root {
    --bg-color: #191919;
    --text-color: #ffffff;
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: monospace;
    font-size: 17px;
}

html.light {
    --bg-color: #f1f1f1;
    --text-color: #000000;
}

html {
    padding: 12rem 5rem;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    html {
        padding: 12rem 2.5rem;
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    html {
        padding: 9rem 2rem;
        font-size: 14px;
    }
}
